<h2><%= t("invoices.show.detail_invoice") %></h2>
<div class="table-responsive-sm text-nowrap">
  <table class="table table-hover">
    <thead>
      <tr class="table-dark border-2">
        <th><%= t('global.sku') %></th>
        <th class="text-center"><%= t('global.description') %></th>
        <th class="text-center"><%= t('global.price') %></th>
        <th class="text-center"><%= t('global.quantity') %></th>
        <th class="text-center"><%= t('global.value') %></th>
        <th></th>
      <tr>
    </thead>
    <tbody>
      <% invoice.sales.group_by{|sale| sale.product_id }.each do |product_id, sales_group| %>
        <tr class="table-info">
          <td class="border-bottom border-dark"><b>Total item: </b><%= sales_group.last.product.sku %></td>
          <td class="border-bottom border-dark text-center"><%= sales_group.last.product.description %></td>
          <td></td>
          <td class="text-center"><%= number_to_currency(sales_group.map{|p| p['quantity'].to_i}.sum, unit: '', precision: 0) %></td>
          <td class="text-center"><%= number_to_currency(sales_group.map{|p| p['sum_price'].to_f }.sum) %></td>
          <td></td>
        </tr>
        <% sales_group.each do |sale|  %>
          <tr class="text-center">
            <td class="border-0"></td>
            <td class="border-0"></td>
            <td class="border-start border-dark"><%= number_to_currency(sale.price) %></td>
            <td class="border-dark"><%= number_to_currency(sale.quantity, unit: '', precision: 0) %></td>
            <td class="border-end border-dark"><%= number_to_currency(sale.sum_price) %></td>
            <td class="border-0">
              <% if params[:action] != 'index' %>
                <%= link_to sale, class: 'btn btn-danger btn-sm', data: { turbo_method: :delete, turbo_confirm: "#{t('global.confirm_delete')}" } do %>
                  <i class="bi bi-trash-fill"></i>
                <% end %>
              <% end %>
            </td> 
          </tr>
        <% end  %>
      <% end %>
    </tbody>
  </table>
</div>
