<div class="table-responsive-sm text-nowrap">
  <%= simple_form_for invoice, local: true do |form| %>
    <table class="table">
      <thead>
        <tr class="table-dark border-2">
          <% if params[:action] == 'show' %>
            <th><%= t('invoices.invoice') %></th>
            <th><%= t('global.created_at') %></th>
          <% end %>
          <th><%= t('invoices.payment_method') %></th>
          <th><%= t('invoices.payment_local') %></th>
          <th class="text-center"><%= t('invoices.total_quantity') %></th>
          <th class="text-center"><%= t('invoices.total_value') %></th>
          <th class="text-center"><%= t('invoices.payment_split') %></th>
          <% if params[:action] == 'show' %>
            <th><%= t('global.updated_at') %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% if params[:action] == 'show' %>
            <th><%= invoice.id %></th>
            <th><%= l(invoice.created_at, format: :br) %></th>
          <% end %>
          <th><%= form.input :payment_method, label: false, collection: ['cash', 'card'], as: :select %></th>
          <th><%= form.input :payment_local, label: false, collection: ['store', 'site'], as: :select %></th>
          <th class="text-center"><%= number_to_currency(invoice.total_quantity, unit: '', precision: 0) %></th>
          <th class="text-center"><%= number_to_currency(invoice.total_value) %></th>
          <th class="text-center"><%= form.input :payment_split, label: false, as: :integer, input_html: { min: 1, step: 1} %></th>
          <% if params[:action] == 'show' %>
            <th><%= l(invoice.updated_at, format: :br) %></th>
          <% end %>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <%= form.button :submit, class: 'btn btn-success', data: { turbo_confirm: "#{t('global.confirm_delete')}" } %>
    </div>
  <% end %>
</div>
