<div class="container">
  <h1><%= t('.all_invoices') %></h1>

  <%= link_to t('sales.new.create_sale'), new_sale_path, class: 'btn btn-success', data: { turbo: false } %>
  <br><br>
  <div class="mb-1">
    <%= render  "shared/search_element" %>
  </div>
  <%= turbo_frame_tag 'search' do %>
    <div class="card">
      <div class="card-body p-1">
        <%= render 'index_form_invoice', invoices: @invoices %>
      </div>
    </div>
  <% end  %>
</div>
