<div class="container">
  <h1><%= t('.all_companies') %></h1>


  <%= link_to t('companies.new.create_company'), new_company_path, class: 'btn btn-success', data: { turbo: false } %>
  <br><br>
  <div class="mb-1">
    <%= render  "shared/search_element" %>
  </div>
  <div class="table-responsive-md">
    <%= turbo_frame_tag 'search' do %>
      <table class="table text-nowrap">
        <%= render 'header_company' %>
        <%= render @companies %>
      </table>
    <% end %>
  </div>
</div>
