<div class="container">
  <h1><%= t('.all_companies') %></h1>


  <%= link_to t('companies.new.create_company'), new_company_path, class: 'btn btn-primary', data: { turbo: false } %>
  <br><br>
  <div class="mb-1">
    <form class="d-flex justify-content-between">
      <%= form_tag( companies_path, method: :get, class: "form-inline" ) do %>
        <div class="col-auto me-1">
          <%=
            select_tag(:filter_column, options_for_select(Company.column_names
              .reject { |col| ['id', 'token', 'created_at', 'updated_at'].include?(col) }
              .map { |col| [t("global.#{col}"), col] }), class: "form-select")
          %>
        </div>
        <div class="col me-1">
          <%= text_field_tag(:filter_value, nil, placeholder: t('global.search_by_item'), class: "form-control") %>
        </div>
        <div class="col-auto me-1">
          <%= submit_tag(t('global.search'), class: "btn btn-primary") %>
        </div>
      <% end %>
    </form>
  </div>
  <div class="table-responsive-md">
    <table class="table">
      <%= render 'header_company' %>
      <%= render @companies %>
    </table>
  </div>
</div>
