<div class="container">
  <h1>HOME</h1>

  <div class="row g-1">
    <div class="col-sm-6 p-1">
      <div class="p-2 border bg-light">
        <h3>Resume products</h3>
        <hr>
        <div class="row">
          <div class="col-sm-2">
            <div>Quantity:</div>
            <div>Stock:</div>
            <div>Value:</div>
          </div>
          <div class="col-sm-1">
            <div><%= Product.all.count %></div>
            <div> <%= Product.sum(:stock) %></div>
            <div> <%= Product.sum(:price) %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 p-1">
      <div class="p-2 border bg-light">
        <h3>Resume products</h3>
        <hr>
        <div class="row">
          <div class="col-sm-2">
            <div>Quantity:</div>
            <div>Stock:</div>
            <div>Value:</div>
          </div>
          <div class="col-sm-1">
            <div><%= Product.all.count %></div>
            <div> <%= Product.sum(:stock) %></div>
            <div> <%= Product.sum(:price) %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
