<tbody>
  <tr>
    <td class="border"><%= product.sku %></td>
    <td class="border"><%= product.description %></td>
    <td class="border"><%= product.price %></td>
    <td class="border"><%= product.stock %></td>
    <td class="border"><%= product.supplier %></td>
    <td class="border"><%= product.size %></td>
    <td class="border"><%= product.color %></td>
    <td class="border"><%= product.kind %></td>
    <% if params[:action] == 'index' %>
      <td class="border"><%= link_to  t('global.detail'), product_path(product) %></td>
      <td class="border"><%= link_to t('global.edit'), edit_product_path(product), data: { turbo: false } %></td>
    <% elsif params[:action] == 'show' %>
      <td colspan='2' class="border">
        <%= t('global.last_update') %>: <%= l(product.updated_at, format: :br) %>
      </td>
    <% end %>
  </tr>
</tbody>
