<div class="container">
  <p></p>
  <%= link_to t('products.new.create_product'), new_product_path, class: 'btn btn-success', data: { turbo: false } %>
  <p></p>
  <div class="mb-1">
    <%= render  "shared/search_element" %>
  </div>
  <div class="table-responsive-md">
    <table class="table text-nowrap">
      <%= render 'header_product' %>
      <%= turbo_frame_tag 'search' do %>
        <%= render @products %>
      <% end  %>
    </table> 
  </div>
</div>

