<div class="container">
  <h1><%= t('.all_products') %></h1>

  <%= link_to t('products.new.create_product'), new_product_path, class: 'btn btn-success', data: { turbo: false } %>
  <br><br>
  <div class="mb-1">
    <%= render  "shared/search_element" %>
  </div>
  <div class="table-responsive-md">
    <%= turbo_frame_tag 'search' do %>
      <table class="table">
        <%= render 'header_product' %>
        <%= render @products %>
      </table>
    <% end  %>
  </div>
</div>

