<div class="container">
  <h1><%= t('.all_products') %></h1>

  <%= link_to t('products.new.create_product'), new_product_path, class: 'btn btn-success', data: { turbo: false } %>
  <br><br>
  <div class="mb-1">
    <form class="d-flex justify-content-between">
      <%= form_tag( products_path, method: :get, class: "form-inline" ) do %>
        <div class="col-auto me-1">
          <%=
            select_tag(:filter_column, options_for_select(Product.column_names
              .reject { |col| ['id', 'company_token','created_at', 'updated_at'].include?(col) }
              .map { |col| [t("global.#{col}"), col] }), class: "form-select")
          %>
        </div>
        <div class="col me-1">
          <%= text_field_tag(:filter_value, nil, placeholder: t('global.search_by_item'), class: "form-control") %>
        </div>
        <div class="col-auto me-1">
          <%= submit_tag(t('global.search'), class: "btn btn-primary") %>
        </div>
      <% end %>
    </form>
  </div>
  <div class="table-responsive-md">
    <table class="table">
      <%= render 'header_product' %>
      <%= render @products %>
    </table>
  </div>
</div>
