<div class="container">
  <h1><%= t(".detail_product") %></h1>
  <div class="table-responsive-md">
    <table class="table">
      <%= render 'header_product' %>
      <%= render @product %>
    </table>
  </div>
  <div class="d-flex justify-content-between">
    <%= link_to t('global.back'), products_path, class: 'btn btn-primary' %>
    <%= link_to t('global.delete'), @product, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: "#{t('global.confirm_delete')}" } %>
  </div>
</div>
