<%= simple_form_for sale, local: true do |form| %>
  <div class="d-flex align-items-end bd-highlight">
    <div class="p-1 flex-grow-1 bd-highlight">
      <%= form.input :product_id,
        collection: @products.map { |p| [ "#{p.sku} - #{p.description}", p.id ] },
        label: t('global.sku'),
        as: :select,
        value_method: :last,
        input_html: { autofocus: true },
        prompt: t('sales.new.choice_sku')
      %>
    </div>
    <div class="p-1 bd-highlight">
      <%= form.input :quantity, input_html: { min: 1 } %>
    </div>
    <div class="p-1 mb-3 bd-highlight">
      <%= form.button :submit, t('sales.new.register_sale'), class: "btn btn-warning text-wrap", data: { turbo: false } %>
    </div>
    <% if params[:id].present? %>
      <%= form.hidden_field :invoice_id, value: params[:id].to_i %>
    <% end %>
  </div>
<% end %>
