<div class="container">
  <div class="card text-center mt-1">
    <h5 class="card-header"><%= t('global.search') %></h5>
    <div class="card-body">
      <%= render 'form_create_sale', sale: @sale %>
    </div>
  </div>
  <div class="card mt-2">
    <h5 class="card-header"><%= t('invoices.invoice') %>: <%= params['id'] %></h5>
    <div class="card-body">
      <%= render 'sale', sales: @sales %>
    </div>
  </div>
</div>
