<div class="container">
  <h1><%= t('.all_sales') %></h1>

  <%= link_to t('sales.new.create_sale'), new_sale_path, class: 'btn btn-success', data: { turbo: false } %>
  <br><br>
  <div class="mb-1">
    <%= form_tag(sales_path, method: :get, data: { turbo_frame: 'search' } ,class: "row g-2") do %>
      <div class="col-auto">
        <%=
          select_tag(:filter_column, options_for_select(Sale.column_names
            .reject { |col| ['product','created_at', 'updated_at'].include?(col) }
            .map { |col| [t("global.#{col}"), col] }), class: "form-select")
        %>
      </div>
      <div class="col">
        <%= text_field_tag(:filter_value, nil, placeholder: t('global.search_by_item'), class: "form-control") %>
      </div>
      <div class="col-auto">
        <%= submit_tag(t('global.search'), class: "btn btn-primary") %>
      </div>
    <% end %>
  </div>
  <%= turbo_frame_tag 'search' do %>
    <%= render 'sale' %>
  <% end  %>
</div>
