<div class="container">
  <h1><%= t('.all_sales') %></h1>

  <%= link_to t('sales.new.create_sale'), new_sale_path, class: 'btn btn-success', data: { turbo: false } %>
  <br><br>
  <div class="mb-1">
    <%= render  "shared/search_element" %>
  </div>
  <div class="table-responsive-md">
    <%= turbo_frame_tag 'search' do %>
      <table class="table">
        <%= render 'header_sale' %>
        <%= render @sales %>
      </table>
    <% end  %>
  </div>
</div>

